{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if response %}
        {% if type == 'GOOGLE_MAP' %}
            <div id="map"></div>
        {% endif %}
        {% if type == 'HOUR_BY_HOUR_PLOT' %}
            <div id="container"></div>
        {% endif %}
        {% if type == 'BY_STREET1' %}
            <div id="container"></div>
        {% endif %}
        {% if type == 'BY_STREET2' %}
            <div id="container"></div>
        {% endif %}
    {% endif %}
    <div id="reg-form" class="container">
        <div id="form-title" class="jumbotron jumbotron">
                              <div class="container">
                                  <h1 class="lead">Welcome to NYC <b>TaxVent!</b></h1>
                              </div>
        </div>
  <form method="POST" class="post-form"> {% csrf_token %}
    <div class="form-group">
        <div id="form-title" class="jumbotron jumbotron">
            <div class="container">
                <h2 class="lead">Select event</h2>
            </div>
        </div>
            <div class="form-row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            {{ form.choose_event }}
                        </div>
                      </div>
            </div>
    </div>
      <div class="form-group">
        <div id="form-title" class="jumbotron jumbotron">
            <div class="container">
                <h2 class="lead">Select type</h2>
            </div>
        </div>
        <form method="POST" class="post-form"> {% csrf_token %}
            <div class="form-row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            {{ form.choose_output }}
                        </div>
                      </div>
            </div>
     </div>
      <div class="form-group">
        <form method="POST" class="post-form"> {% csrf_token %}
            <div class="form-row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group">
                            <button class="btn btn-secondary" type="submit">Search!</button>
                          </span>
                        </div>
                      </div>
            </div>

            <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="switch_direction" class="form-check-input">
                      Switch direction
                    </label>
            </div>


    </div>
  </form>
    </div>

{% if type == 'GOOGLE_MAP' %}
    <script>

var map, heatmap, marker;
var myLatLng = {lat: {{ latitude }}, lng: {{ longitude }}};
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: {lat: {{ latitude }}, lng: {{ longitude }}},
    mapTypeId: 'satellite'
  });

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map,
  });

  marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Event location',
    animation: google.maps.Animation.DROP,
  });
}

function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}

// Heatmap data: 500 Points
function getPoints() {
    var list = []
    {% for row in response %}
        list.push(new google.maps.LatLng({{ row.0 }}, {{ row.1 }}));
    {% endfor %}
    return list;
}

    </script>
{% endif %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqZXQrRSkucJiWKx7eadH7qfv29uUFXno&libraries=visualization&callback=initMap">
    </script>

    <script>
    $( document ).ready(function() {
        if ( $('#map').length || $('#container').length){
            $("#reg-form").css("margin-top","20px");
        }
        else{
            $("#reg-form").css("margin-top","20vh");
        }
    });
    </script>
{% if type == 'HOUR_BY_HOUR_PLOT' %}
    <script>
    Highcharts.chart('container', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'Taxis hour by hour'
    },

    yAxis: {
        title: {
            text: 'Trips'
        }
    },
    xAxis: {
        title: {
            enabled: true,
            text: 'Hours of the Day'
        },
        type: 'category',

    },
    legend: {
        enabled: false,
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            enableMouseTracking: false
        }
    },

    series: [{
        name: 'Trips ',
        data: [{% for row in response %}['{{ row.0| date:"H:i:s"}}',{{ row.1 }}],{% endfor %}]
    }],
});
    </script>
    {% endif %}

    {% if type == 'BY_STREET1' %}

    <script>
         Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'By Street'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [
                    {% for key, value in counts.items %}
                    {
                    name: '{{ key }}',
                    y: {{ value }}
                    },
                    {% endfor %}
                ]
            }]
        });
    </script>
{% endif %}

    {% if type == 'BY_STREET2' %}
<script>
            Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'By street'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total trips'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.0f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b>'
        },

        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [
            {% for key, value in counts.items %}
                {
                name: '{{ key }}',
                y: {{ value }},
                },
            {% endfor %}
            ]
        }],
    });
</script>
    {% endif %}
{% endblock %}