{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div id="map"></div>
    <div id="reg-form" class="container">
        <div id="form-title" class="jumbotron jumbotron">
                              <div class="container">
                                  <h1 class="lead">Welcome to NYC TaxVent!</h1>
                              </div>
        </div>
    </div>
    <div class="container" style="width:50%; padding-top: 50px">
        <form method="POST" class="post-form"> {% csrf_token %}
            <div class="form-row">
                    <div class="col-lg-12">
                        <div class="input-group">
                          <input name="start_date" required type="datetime" class="form-control" id="id_teacher">
                          <input name="end_date"  required type="datetime" class="form-control"id="id_teacher">
                            <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Search!</button>
                          </span>
                        </div>
                      </div>
            </div>
        </form>

    <table class="table">
        <thead class="thead">
            <th>Y</th><th>X</th><th>Trips</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
    <script>

    // This example requires the Visualization library. Include the libraries=visualization
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

var map, heatmap;

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 40.7127753, lng: -74.0059728},
    mapTypeId: 'satellite'
  });

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map,
  });
}

function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 20);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
}

// Heatmap data: 500 Points
function getPoints() {
    var list = []
    {% for row in response %}
        list.push(new google.maps.LatLng({{ row.pickup_latitude }}, {{ row.pickup_longitude }}));
    {% endfor %}
    return list;
}

    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqZXQrRSkucJiWKx7eadH7qfv29uUFXno&libraries=visualization&callback=initMap">
    </script>

{% endblock %}